* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.icon {
  height: 2rem;
  width: 2rem;
}

body {
  width: 100%;
  height: 100%;
  background-color: #ec643a;
}

.hidden {
  display: none;
  opacity: 0%;
}

.divider {
  background-color: #434343;
  border: 2px solid #434343;
  border-radius: 5px;
  width: 80%;
  margin: 10% auto;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.header__up {
  padding: 20px 20px;
  background-color: white;
  color: #1c1c1c;
  -webkit-box-shadow: 0px 10px 7px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 10px 7px 1px rgba(0, 0, 0, 0.4);
}

.header__up_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__up_items button {
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  background-color: inherit;
}

.asidebar {
  position: absolute;
  background-color: #1c1c1c;
  width: 50%;
  height: 100%;
  z-index: 20;
}

.asidebar .header__info_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}

.asidebar .header__info_items li {
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #434343;
  text-align: center;
}

.main__card {
  width: 100%;
  height: 100%;
}

.main__card .main__img_feed {
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.logo {
  width: 120px;
}

.card__container {
  margin: auto;
  width: 90%;
  padding: 10px 0px;
  position: relative;
}

.card__container .img__feed {
  border-radius: 8px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__container .overlay {
  border-radius: inherit;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(80%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 80%);
}

.card__container .card__text h1 {
  font-size: 2em;
  padding: 10px 0;
}

.card__container .card__text p {
  font-size: 1.2em;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 660px) {
  body {
    background-color: #b3330e;
  }
  .card__container .card__text h1 {
    font-size: 4em;
    padding: 20px 0;
  }
  .card__container .card__text p {
    font-size: 2.4em;
  }
}
/*# sourceMappingURL=style.css.map */