* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.icon {
  height: 2rem;
  width: 2rem;
}

body {
  width: 100%;
  height: 100%;
  background-color: #bac6ee;
}

.hidden {
  display: none;
  opacity: 0%;
}

.divider, .divider_transparent {
  background-color: #434343;
  border: 2px solid #434343;
  border-radius: 5px;
  width: 50%;
  margin: 5% auto;
}

.divider_transparent {
  opacity: 0%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.notificator {
  margin-top: 20px;
  text-align: center;
}

.error {
  color: red;
}

.checked {
  color: green;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  color: white;
  display: block;
  padding: 10px 10px;
  border: 1px solid #434343;
  border-radius: 4px;
  background-color: #1c1c1c;
}

.header__up {
  padding: 10px 20px;
  background-color: white;
  color: #1c1c1c;
  -webkit-box-shadow: 0px 10px 7px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 10px 7px 1px rgba(0, 0, 0, 0.4);
}

.header__up_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__up_items button {
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  background-color: inherit;
}

.table_obras {
  border: 1px solid black;
  border-collapse: collapse;
}

.asidebar {
  position: fixed;
  background-color: #1c1c1c;
  left: -50%;
  width: 50%;
  height: 100%;
  z-index: 20;
}

.aside_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}

.aside_items button {
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  padding: 15px 0;
  color: inherit;
  width: 100%;
  border-bottom: 1px solid #434343;
  text-align: center;
  background-color: inherit;
  font-size: 1rem;
}

.asidebar_mostrada {
  left: 0;
}

.register_aside {
  right: -100%;
  position: fixed;
  background-color: #1c1c1c;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.register_aside_form {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.register_aside_form .register_field {
  color: white;
}

.register_field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10%;
}

.register_welcome {
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
}

.register_aside_mostrado {
  right: 0;
}

.prioritario {
  background-color: goldenrod;
}

.recent__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price_box {
  padding: 10px;
  border-radius: 5px;
  background-color: #434343;
  color: white;
}

.card__name_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.register_btn {
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  margin-top: 10%;
  padding: 10px 10px;
  border-radius: 4px;
  background-color: white;
  color: #1c1c1c;
  font-size: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.register_btn:active {
  background-color: #b3330e;
}

.captcha {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  background-color: black;
  margin: 0.7em 0 0.3em 0;
  display: block;
}

.transition {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.stop_scroll {
  overflow: hidden;
}

.main__card {
  width: 100%;
  height: 100%;
}

.main__card .main__img_featured {
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.list__title {
  font-size: 2em;
  text-align: center;
}

.feed {
  list-style: none;
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.featured__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content_centered {
  margin: 0;
}

.logo {
  width: 120px;
}

.card__container {
  margin: auto;
  width: 90%;
  padding: 10px 0px;
  position: relative;
}

.card__container .img__featured {
  border-radius: 8px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__container .table_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__container .overlay {
  border-radius: inherit;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(80%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 80%);
}

.card__container .card__text h2 {
  font-size: 1.5em;
  padding: 10px 0;
}

.card__container .card__text p {
  font-size: 1.2em;
}

.card__container .card__text h5 {
  padding-top: 2%;
}

@media screen and (min-width: 660px) {
  .card__container .card__text h2 {
    font-size: 2.4em;
    padding: 20px 0;
  }
  .card__container .card__text p {
    font-size: 1.4em;
  }
  .card__container .card__text h4 {
    font-size: 1.3em;
  }
  .card__container .card__text h5 {
    font-size: 1.2em;
  }
  .register_aside {
    width: 50%;
  }
  .register_welcome {
    margin-top: 20%;
  }
  .content_centered {
    margin: 0 5% 0 5%;
  }
}

@media screen and (min-width: 1024px) {
  .featured__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .featured__section .destacado_1 {
    width: 30%;
  }
  .featured__section .destacado_2 {
    width: 70%;
  }
  .featured__section .destacado_3 {
    padding-top: 50px;
  }
  .featured__section .destacado_3 .card__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .featured__section .destacado_3 .card__container .img__featured {
    width: 50%;
    padding-right: 20px;
  }
  .featured__section .card__text h2 {
    font-size: 2em;
    padding: 20px 0;
  }
  .featured__section .card__text p {
    font-size: 1.2em;
  }
  .asidebar {
    left: 0;
    top: -50%;
    width: 100%;
    height: auto;
    z-index: 2;
  }
  .asidebar_mostrada {
    top: 9%;
  }
  .register_aside {
    width: 25%;
  }
  .register_welcome {
    margin-top: 10%;
  }
  .content_centered {
    margin: 0 20% 0 20%;
  }
  .divider_transparent_featured {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */